
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Roboto:wght@300&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


 body {
	background-color: #FBF8F1;
	color: rgb(193, 128, 85);
	font-size: 16px;
	font-family: 'Lora', serif;
	line-height: 1.6;
	margin:0px;
	text-align :center;
 }


h1, h2, h3 {
	font-weight: bold;
	text-align: center;
}

h1 {
	color: white;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
}


h2{
	color: color: #965E38;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

h3{
	color: color: #965E38;
	font-size: 21px;
	font-family: 'Lora', serif;
	text-align: center;
}

 a{
 	text-decoration: none;
 	font-family: 'Lora', serif;
 }