.btn-blue{
	background-color: rgb(193, 128, 85);
	padding:15px 20px;
	border-radius:4px;
	color:white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover{
	background-color:#965E38;
	color: black;
}

.list-inline{
	list-style:none;
	padding-left:0px;
}

.list-inline li{
	display:inline;
	padding:10px;
}

.list-inline i{
	font-size: 50px;
	color: rgb(193, 128, 85);
}

.list-inline i:hover{
	color:#965E38;
}